html, body{
    height: 100%;
    margin: 0;
}

/*
Text styles
 */
.titleStyle{
    color: #334d19;
    font-size: 35px;
}
.textColor{
    color: #334d19;
    font-size: 20px;
}

/*
Background
 */
body.bg-4{
    /*
    background: linear-gradient(
    to bottom,
    #8FC757 0%,
    #EDC453 100%
    ) no-repeat fixed;

     */
    background: url("images/goldenDog.png") no-repeat fixed;
    background-size: cover;
}

body.bg-3{
    background:
            linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) no-repeat fixed,
            url("images/goldenPaws.png") no-repeat fixed;
    background-size: cover, cover;
    background-position: center, center;
}
/*
Navigation Bar
 */
.navbar.bg-nav{
    background-color: rgba(50, 154, 154, 0.4);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/*
Card Styles
 */
.bg-card{
    background-color: rgba(255, 255, 255, 0.3)
}

/*
Button Styles
 */
.btn-primary{

    background-color: rgba(50, 154, 154, 0.6);
    color: #ecf9f9;
    border: 1px solid rgba(50, 154, 154, 0.2);
    outline: none;
}

.btn-primary:hover,
.btn-primary:active{
    background-color: rgba(50, 154, 154, 1);
    color: #ecf9f9;
    border: 1px solid rgba(50, 154, 154, 0.2);
    outline: none;
}


.btn-secondary{
    background-color: rgba(50, 154, 102, 0.6);
    color: #ecf9f9;
    border: 1px solid rgba(50, 154, 102, 0.2);
    outline: none;
}

.btn-secondary:hover,
.btn-secondary:active{
    background-color: rgba(50, 154, 102, 1);
    color: #ecf9f9;
    border: 1px solid rgba(50, 154, 102, 0.2);
    outline: none;
}
